.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav-item {
    display: inline-block;
    
}

.main-nav-item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav-item a:hover {
    color: blue;
}

.main-nav-item a:active {
    color: red;
}

.main-nav-item a::after {
    content: "  ||  ";
}