
.title {
    font-family: serif;
    color: purple;
}



.title {
    font-size: 18px;
    font-family: monospace;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: turquoise;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: red;
}