* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.header__logo, .nav li, nav {
    display: inline-block;
    margin: 0.5rem;  
      
}

header {
    background-color: #faeee7;
}

nav {

   
    position: absolute;
    right: 0;
    
}



.nav ul{
    text-align: left;
}





.nav a {
    color: #33272a;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: 1.5rem;
}   